<ion-view title="Admin">
  <!-- ======================
  LEFT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <!-- ======================
  END LEFT SIDE BUTTON
  ====================== -->

  <!-- ======================
  RIGHT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-search"></button>
  </ion-nav-buttons>
  <!-- ======================
  RIGHT SIDE BUTTON
  ====================== -->
  
  <!-- ======================
  MAIN CONTENT SECTION
  ====================== -->
  <ion-content class="has-header gem-ion-content">
    <!-- Standard Ionic Markup for search -->
      
    <!-- End Search box-->

    <!-- standard small heading title -->

    <!-- end title -->

    <!-- ======================
    GEMIONIC FRIEND LIST (VERTICAL LIST)
    ====================== -->
    <ul class="list gem-friend-list">
          <!-- Single Friend Item -->
          <a href="#/app/usuarios" > <li class="item">
            <!-- thumb image (round) -->
            <img src="img/gemionic/profile-image.jpg" alt="" class="gem-friend-list-profile-pic"> <!-- End Image - absolute left/top -->
            
            <!-- Friend Name, Status Icon and Status Update -->
            <div class="gem-friend-list-text">
              <b>Usuarios</b>

            </div>
            <!-- end -->

          </li></a>
          <!-- Single Friend Item -->
          <a href="#/app/noticias" > <li class="item">
            <!-- thumb image (round) -->
            <img src="img/gemionic/profile-image-2.jpg" alt="" class="gem-friend-list-profile-pic"> <!-- End Image - absolute left/top -->
            
            <!-- Friend Name, Status Icon and Status Update -->
            <div class="gem-friend-list-text">
              <b>Noticias</b></div>
            <a href="#/app/trabajos" > <li class="item">
            <!-- thumb image (round) -->
            <img src="img/gemionic/profile-image.jpg" alt="" class="gem-friend-list-profile-pic"> <!-- End Image - absolute left/top -->
            
            <!-- Friend Name, Status Icon and Status Update -->
            <div class="gem-friend-list-text">
              <b>Trabajo</b>

            </div>
            <!-- end -->

          </li></a>
            <a href="#/app/imagenes" > <li class="item">
            <!-- thumb image (round) -->
            <img src="img/gemionic/profile-image.jpg" alt="" class="gem-friend-list-profile-pic"> <!-- End Image - absolute left/top -->
            
            <!-- Friend Name, Status Icon and Status Update -->
            <div class="gem-friend-list-text">
              <b>Imagenes</b>

            </div>
            <!-- end -->

          </li></a>
                        
         
            <!-- end -->

          
          <!-- Single Friend Item -->
          
      </ul>
  </ion-content>
  <!-- ======================
  END MAIN CONTENT SECTION
  ====================== -->
</ion-view>
