<ion-view view-title="Perfil">
  <ion-content>
  	<div class="card">
		<div class="item item-text-wrap">
						  <div class="gem-profile-media">
      <div class="gem-profile-details profile2">
        <div class="text-center">
        <h1>{{usuario.name}}</h1>
          <i class="icon ion-plus-circled add-user-pic-icon"></i>
          <p class="uppercase">Agregar imagen</p>
        </div>
      </div>
    </div>
			<div class="list">
			  <label class="item item-input  item-stacked-label">
			   <span class="input-label">Primer Nombre</span>
			    <input type="text" placeholder="Nombre" ng-model="usuario.name">
			  </label>
			  <label class="item item-input  item-stacked-label">
			   <span class="input-label">Email</span>
			    <input type="text" placeholder="E-Mail" ng-model="usuario.email">
			  </label>			
			<label class="item item-input  item-stacked-label">
			 <span class="input-label">Ciudad</span>
			    <input type="text" placeholder="Ciudad" ng-model="usuario.city">
			  </label>			
			<label class="item item-input  item-stacked-label">
			 <span class="input-label">Pais</span>
			    <input type="text" placeholder="Pais" ng-model="usuario.country">
			  </label>
			</div>
			<button ng-click="doSave()" class="button button-energized">
			  Modificar
			</button>
			<button ng-click="doDelete()" class="button button-assertive">
			  Borrar
			</button>
		</div>
	</div>
  </ion-content>
</ion-view>