<!-- Title for the ion view -->
<ion-view title="Nuevo trabajo">
  <!-- ======================
  LEFT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <!-- ======================
  END LEFT SIDE BUTTON
  ====================== -->

  <!-- ======================
  RIGHT SIDE BUTTON
  ====================== -->
  <!-- ======================
  EMD RIGHT SIDE BUTTON
  ====================== -->
  
  <!-- ======================
  MAIN CONTENT SECTION
  ====================== -->
  <ion-content class="has-header gem-ion-content">
    <!-- ======================
    GEMIONIC EDIT SECTION
    ====================== -->
    <div class="gem-edit-section">
      <div class="gem-poster">
        <div class="padding">
         



          <div class="padding">
      
    <form ng-submit="doRegister()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Titulo</span>
          <input type="text" ng-model="trabajo.Titulo" placeholder="Titulo">
        </label>
         <label class="item item-input">
          <span class="input-label">Descripcion</span>
          <textarea type="text" ng-model="trabajo.Descripcion" placeholder="Descripcion"></textarea>
        </label>
       
        <label class="item">
          <button class="button button-block button-dark">Crear trabajo</button>
        </label>
      
      </div>
    </form>
          </div>
        </div>
      </div>
      
   
    <!-- ======================
    END GEMIONIC EDIT SECTION
    ====================== -->
  </ion-content>
  <!-- ======================
  END MAIN CONTENT SECTION
  ====================== -->
</ion-view>
