<ion-view view-title="{{imagen.Titulo}}">
  <ion-content>

		 <div class="gem-profile-media3">
						    

     <div class="containergal">
    <div class=""><img class="full-image imageOne image zindex ov2" ng-src="img/imagenes/{{imagen.Imagen}}" />
</div>
    <div class=""><img class="full-image galeriablur blur" ng-src="img/imagenes/{{imagen.Imagen}}" />
</div>
</div>
						    </div>

    <div class="list card">
    <div class="item item-body">
<ionic-ratings ratingsobj='ratingsObject'></ionic-ratings>



 

    </div>
			
  <div class="item item-body">

      <h1>{{imagen.Titulo}}</h1>
      {{imagen.IdUsuario}} - 2016-06-16 03:07:40<br>
      <p>{{imagen.Descripcion}}</p>
    <p>
      <a href="#" class="subdued"><i class="ion-heart"></i>1 Like</a>
      <a href="#" class="subdued"><i class="ion-chatbox"></i>  5 Comments</a>
       <a href="#" class="subdued"> <i class="ion-android-done-all"></i>  60 Vistos</a>
    </p>

<ion-thread comments="comments" post="post"></ion-thread>
  <div class="list list-inset">

    <label class="item item-input">
          <textarea placeholder="Escriba su comentario" ng-model="newCommentario.text" ></textarea>
    </label>
    <button class="button button-block button-balanced" ng-click="guardarComentario(newCommentario)">
     Comentar
    </button>
  </div>

  <ion-item ng-repeat="comentario in imagen.comentarios track by comentario.id" class="item item-avatar">
      <img src="img/paintprogram.png" alt="" class="img">
      <h2>{{comentario.name}}</h2>
      <p>{{comentario.text}}</p>
      <h4 class="item-note"><i class="icon ion-clock"></i>{{comentario.created_at}}</h4>
  </ion-item>
<!-- 
   <div class="list">
    <ion-list>
      <ion-item ng-repeat="comentario in viewImagen.comentarios track by comentario.id" class="item item-avatar">
        <img src="img/paintprogram.png" alt="" class="img">
        <h2>{{comentario.name}}</h2>
        <p>{{comentario.text}}</p>
        <h4 class="item-note"><i class="icon ion-clock"></i>{{comentario.created_at}}</h4>
      </ion-item>
    </ion-list>
  </div>
 -->

	</div>
   

</ion-content></ion-view>

  