<ion-view view-title="{{imagen.Titulo}}">
  <ion-content>

  	<div class="list card">
		<div class="item item-body">
		 <div class="gem-profile-media">
						    <img class="full-image" ng-src="img/imagenes/{{imagen.Imagen}}" />
						    </div>

<ionic-ratings ratingsobj='ratingsObject'></ionic-ratings>


   
                  <p>

  
      <a href="#" class="subdued"><i class="ion-heart"></i>1 Like</a>
      <a href="#" class="subdued"><i class="ion-chatbox"></i>  5 Comments</a>
       <a href="#" class="subdued"> <i class="ion-android-done-all"></i>  60 Vistos</a>
    </p>

 

    </div>
			
  <div class="item item-body">
 <h1>
      {{imagen.Titulo}}
    </h1>


    <p>
      {{imagen.Descripcion}}
    </p>


<ion-thread comments="comments" post="post"></ion-thread>
    <a class="item item-avatar" href="#">
      <img src="img/gemionic/profile-image.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/gemionic/profile-image-3.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/gemionic/profile-image-4.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
  </div>
  <div class="list list-inset">

  <label class="item item-input">
    <input type="text" placeholder="Escribe un comentario">
  </label>
  <button class="button button-block button-balanced">
 Comentar
</button>
</div>

	</div>
   

</ion-content></ion-view>

  