     <ion-view title="PixelEsp" >

 <ion-content class="has-header">
<ion-nav-buttons>
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons> <div class="news-content" ng-repeat="imagen in imagenes">
     <img ng-src="img/imagenes/{{imagen.Previa}}" alt="" class="img">


<form ng-submit="doRegister()">
             <label class="item item-input">
          <span class="input-label">Comentario:</span>
          <textarea type="text" ng-model="noticia.Descripcion" placeholder="Escribe tu comentario"></textarea>
        </label>
                <label class="item">
          <button class="button button-block button-dark">Enviar</button>
        </label>
        </form>

          </ion-content>
      
    </ion-view>