<!-- Title for header bar (refer to www/index.html) -->
<ion-view title="Notificaciones">
  <!-- left button -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <!-- right button -->

  
  <!-- ======================
  MAIN SECTION CONTENT - timeline
  ====================== -->

  <ion-content class="has-header gem-ion-content">
      <!-- Subheader - using ionic's subheader. '.gem-position-relative' is to shift the child icon to the right -->
           <div class="bar bar-header bar-balanced gem-position-relative">
        <h2 class="title text-left">
          1 Mensaje nuevo 
        </h2>
      </div>
      <ul class="timeline">
        <!-- timeline item -->
        <li>
          <!-- thumb - absolutely positioned left -->
<img src="img/avatar/jose.png" alt="" class="timeline-thumb">
          <!-- Text details -->
          <div class="timeline-item">
            <h5 class="bold">Marcelo</h5>
            <p>Hola chicos les quiero decir que están<span class="bold"> Aprobados!!</span></p>
            <div class="timeline-stats">
              <i class="ion-chatboxes">3</i>
              <span class="pos-absolute-right"><i class="ion-android-clock"></i>Ayer</span>
            </div>
          </div>
          <!-- End Text Details -->
        </li>
      </ul>




      <div class="bar bar-header bar-balanced gem-position-relative">
        <h2 class="title text-left">
         3 Notificaciones nuevas 
        </h2>
      </div>
      <!-- End subheader -->

      <!-- Gemionic Timeline -->
      <ul class="timeline">
        <!-- timeline item -->
        <li>
          <!-- thumb - absolutely positioned left -->
<img src="img/avatar/ari.png" alt="" class="timeline-thumb">
          <!-- Text details -->
          <div class="timeline-item">
            <h5 class="bold">Ariadna</h5>
            <p>Ha comentado tu pixel art <span class="bold"> El gallo claudio</span></p>
            <div class="timeline-stats">
              <i class="ion-chatbox"></i> 30
              <span class="pos-absolute-right"><i class="ion-android-clock"></i>Hace 2 dias</span>
            </div>
          </div>
          <!-- End Text Details -->
        </li>
        <!-- end timeline item -->

        <!-- timeline item -->
        <li>
          <!-- thumb - absolutely positioned left -->
          <img src="img/avatar/ari.png" alt="" class="timeline-thumb">
          <!-- Text details -->
          <div class="timeline-item">
            <h5 class="bold">Ariadna</h5>
            <p>Ha agregado a favoritos tu pixel art <span class="bold">Chica</span></p>
            <div class="timeline-stats">
              <i class="ion-heart"></i> 23
              <span class="pos-absolute-right"><i class="ion-android-clock"></i>Hace 3 dias</span>
            </div>
          </div>
          <!-- End Text Details -->
        </li>
        <!-- End timeline item -->

        <!-- timeline item -->
        <li>
          <!-- thumb - absolutely positioned left -->
          <img src="img/avatar/nico.png" alt="" class="timeline-thumb">
          <!-- Text details -->
          <div class="timeline-item">
            <h5 class="bold">Nicolas</h5>
            <p>Ha comentado tu pixel art <span class="bold">Mounstrito</span></p>
            <div class="timeline-stats">
              <i class="ion-chatbox"></i>2
              <span class="pos-absolute-right"><i class="ion-android-clock"></i>Hace 5 dias</span>
            </div>
          </div>
          <!-- End Text Details -->
        </li>
        <!-- timeline item -->

      </ul>
      <!-- End gemionic timeline -->

      <!-- Title separator -->
      <div class="separator-title">20 Junio, 2016</div>
      <!-- End Title separator -->


      <!-- Gemionic Timeline -->
      <ul class="timeline">
      <!-- timeline item -->
        <li>
          <!-- thumb image -->
          <img src="img/avatar/jose.png" alt="" class="timeline-thumb">
          <!-- end thumb -->

          <!-- timeline-text -->
          <div class="timeline-item">
            <h5 class="bold">Marcelo</h5>
            <p>Ha visitado tu perfil</p>
            <div class="timeline-stats">
              <i class="ion-android-done-all"></i> 1000
              <span class="pos-absolute-right"><i class="ion-android-clock"></i>hace 10 dias</span>
            </div>
          </div>
          <!-- end timeline text -->
        </li>
        <!-- end timeline item -->

        <!-- timeline item -->
        <li>
          <!-- thumb image -->
          <img src="img/avatar/agus.png" alt="" class="timeline-thumb">
          <!-- end thumb -->

          <!-- timeline-text -->
          <div class="timeline-item">
            <h5 class="bold">Agustin</h5>
            <p>Ha comenzado a seguirte</p>
            <div class="timeline-stats">
              <i class="ion-person-add"></i> 86
              <span class="pos-absolute-right"><i class="ion-android-clock"></i>hace 12 dias</span>
            </div>
          </div>
          <!-- end timeline text -->
        </li>
        <!-- end timeline item -->

        <!-- timeline item -->
        <li>
          <!-- thumb image -->
          <img src="img/avatar/ari.png" alt="" class="timeline-thumb">
          <!-- end thumb -->

          <!-- timeline-text -->
          <div class="timeline-item">
            <h5 class="bold">Ariadna</h5>
            <p>Te ha enviado un corazón</p>
            <div class="timeline-stats">
              <i class="ion-heart"></i> 1
              <span class="pos-absolute-right"><i class="ion-android-clock"></i>hace 2 dias</span>
            </div>
          </div>
          <!-- end timeline text -->
        </li>

      </ul>
  </ion-content>
</ion-view>