<!-- Title for the ion view -->
<ion-view title="Escribir mensaje">
  <!-- ======================
  LEFT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <!-- ======================
  END LEFT SIDE BUTTON
  ====================== -->

  <!-- ======================
  RIGHT SIDE BUTTON
  ====================== -->
  <!-- ======================
  EMD RIGHT SIDE BUTTON
  ====================== -->
  
  <!-- ======================
  MAIN CONTENT SECTION
  ====================== -->
  <ion-content class="has-header gem-ion-content">
    <!-- ======================
    GEMIONIC EDIT SECTION
    ====================== -->
    <div class="gem-edit-section">
      <div class="gem-poster">
        <div class="padding">
         



          <div class="padding">
      
    <form>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Titulo">
        </label>
         <label class="item item-input">
          <textarea type="text" placeholder="Escriba su mensaje"></textarea>
        </label>
       
        <label class="item">
          <a href="#/app/comunidad/262" class="linksinestilo"><button class="button button-block button-balanced">Enviar mensaje</button></a>
        </label>
      
      </div>
    </form>
          </div>
        </div>
      </div>
      
   
    <!-- ======================
    END GEMIONIC EDIT SECTION
    ====================== -->
  </ion-content>
  <!-- ======================
  END MAIN CONTENT SECTION
  ====================== -->
</ion-view>
