<!-- Title for the ion view -->
<ion-view title="Mensajes">
  <!-- ======================
  LEFT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <!-- ======================
  END LEFT SIDE BUTTON
  ====================== -->

  <!-- ======================
  RIGHT SIDE BUTTON
  ====================== -->
  <!-- ======================
  EMD RIGHT SIDE BUTTON
  ====================== -->
  
  <!-- ======================
  MAIN CONTENT SECTION
  ====================== -->
  <ion-content class="has-header gem-ion-content">
    <!-- ======================
    GEMIONIC EDIT SECTION
    ====================== -->
    <div class="gem-edit-section">
      <div class="gem-poster">
        <div class="padding">
         



          <div class="list">

    <a class="item item-avatar" href="#">
      <img src="img/avatar/ari.png">
      <h2>Ariadna</h2>
      <p>Ha comentado tu pixel art.</p>
    </a>
</div>
          <div class="list">

    <a class="item item-avatar" href="#">
      <img src="img/avatar/nico.png">
      <h2>Nico</h2>
      <p>Le ha dado me gusta a tu pixel art.</p>
    </a>
</div>
          <div class="list">

    <a class="item item-avatar" href="#">
      <img src="img/avatar/nico.png">
      <h2>Nico</h2>
      <p>Ha comentado tu pixel art.</p>
    </a>
</div>
          <div class="list">

    <a class="item item-avatar" href="#">
      <img src="img/avatar/jose.png">
      <h2>Marcelo</h2>
      <p>Ha visitado tu perfil.</p>
    </a>
</div>
 <div class="list">

    <a class="item item-avatar" href="#">
      <img src="img/avatar/jose.png">
      <h2>Marcelo</h2>
      <p>Has been poke to you.</p>
    </a>
</div>
<h2>Mensajes</h2>
 <div class="list">

    <a class="item item-avatar" href="#">
      <img src="img/avatar/jose.png">
      <h2>Marcelo</h2>
      <p>Estan aprobados chicos! Felicicdades</p>
    </a>
</div>
        </div>
      </div>
      
   
    <!-- ======================
    END GEMIONIC EDIT SECTION
    ====================== -->
  </ion-content>
  <!-- ======================
  END MAIN CONTENT SECTION
  ====================== -->
</ion-view>
