<ion-view title="PixelEsp" >
<ion-nav-buttons>
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <!-- ======================
  RIGHT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="right">

      <a href="#/app/msg" target="_self" button class="button button-icon icon ion-android-notifications"><div class="badge badge-assertive">5</div></button></a>
    <a href="#/app/crearnoticia" target="_self" button class="button button-icon icon ion-compose"></button></a>
  </ion-nav-buttons>
  
  <!-- ======================
  MAIN CONTENT SECTION
  ====================== -->


  <ion-content class="has-header gem-ion-content " >

   




   <ks-swiper-container initial-slide="1" speed="2000" loop="true" show-nav-buttons="false" slides-per-view="4" space-between="40" pagination-clickable="true" on-ready="onReadySwiper(swiper)">
    
    <ks-swiper-slide class="swiper-slide" data-ng-repeat="imagen in imagenes">
         <div  class="contenedor5"><div class="cont-image5"> <img src ="img/imagenes/{{imagen.Previa}}"></div> </div>
    </ks-swiper-slide>  
  
 <ks-swiper-pagination> </ks-swiper-pagination>   
</ks-swiper-container>



  <ion-refresher on-refresh="doRefresh()">
                     
      </ion-refresher>
    
    <!-- Media section (Picture, Video, Map, etc) -->
<!-- End Media section --> 

    <!-- News Item (With Poster and content text summary) -->

      <ion-list>  
    
        <ion-item ng-repeat="noticia in noticias" class="item item-avatar"><!-- Poster Thumb -->
   
        <img src="img/paintprogram.png" alt="" class="img">
   
      <!-- End Poster -->

      <!-- Content -->

      <div class="news-content">
        <h2>{{noticia.Titulo}}</h2>

            <h4>
          por <a href="#" >Agustin Azar</a> - <i class="icon ion-clock"></i>{{noticia.created_at}}
        </h4>
       <p>{{noticia.Descripcion}}</p>


        <!-- Stat Section -->
        <div class="other-stats" >
                <div class="news-more-action">
                    <div class="buttons">
                 <button class="button-icon ion-more" ng-click="popover.show($event)">
        </button>
        </div>
              
      

      

</div>
<div class="">
     
    </div>




      <h4 class="item-note"><i class="ion-heart"></i> 82 - <i class="ion-chatbox"></i> 82 -  <i class="ion-android-done-all"></i> 90 vistos</h4></
      </br>
      <div class="row">

          <button class="button button-balanced button-borderless button-small"><i class="ion-heart"></i> Me gusta</button> 
          <button class="button button-balanced button-outline button-small"><i class="ion-chatbox"></i> Comentar</button>
          <button class="button button-stable button-outline button-small"><i class="ion-android-share-alt"></i> </button>
          </div>
        </div> 
     </div>



       <!-- End Content -->

      <!-- Mock trigger button for action sheet for this post -->
    
      <!-- End Button -->

   
     </ion-item>
    </ion-list>


    <!-- End News Item -->

    <!-- News Item (For Album Art, Artist Name and Player) -->

  </ion-content>
</ion-view>

 <script id="templates/popover.html" type="text/ng-template">
    <ion-popover-view>
      <ion-content>
        <div class="list">
          <a class="item" href="http://learn.ionicframework.com/" target="_blank">
              Learn Ionic
            </a>
          <a class="item" href="http://ionicframework.com/docs/" target="_blank">
              Documentation
            </a>
          <a class="item" href="http://showcase.ionicframework.com/" target="_blank">
              Showcase
            </a>
          <a class="item" href="http://ionicframework.com/submit-issue/" target="_blank">
              Submit an Issue
            </a>
          <a class="item" href="https://github.com/driftyco/ionic" target="_blank">
              Github Repo
            </a>
        </div>
      </ion-content>
    </ion-popover-view>
  </script>
