<ion-tabs class="tabs-background-dark  tabs-color-energized tabs-icon-top">



  <ion-tab title="Inicio" icon-on="icon ion-home" icon-off="icon ion-home"  href="/tab/inicio">
   <ion-nav-view name="tab-inicio"></ion-nav-view>
   <div class="bar bar-ruby-header bar-energized">
    <button class="button ruby-button-clear icon ion-navicon brand-base-text-color" menu-toggle="left">
      <span class="new-notification-bubble"></span>
    </button>
    <h1 class="title brand-base-text-color">PixelEsp</h1>
    <button class="button ruby-button-clear icon ion-android-notifications brand-base-text-color" menu-toggle="right"></button>
  </div>

  </ion-tab>

  <ion-tab title="Galeria" icon-on="icon ion-images" icon-off="icon ion-images"  href="/tab/galeria">
  <ion-nav-view name="tab-galeria"></ion-nav-view>
  <div class="bar bar-ruby-header bar-energized">
    <button class="button ruby-button-clear icon ion-navicon brand-base-text-color" menu-toggle="left">
      <span class="new-notification-bubble"></span>
    </button>
    <h1 class="title brand-base-text-color">Galeria</h1>
    <button class="button ruby-button-clear icon ion-android-notifications brand-base-text-color" menu-toggle="right"></button>
  </div>

  </ion-tab>

   </ion-tab>
  <ion-tab title="Foro" icon-on="icon ion-chatboxes" icon-off="icon ion-chatboxes"  href="/tab/foro">
  <ion-nav-view name="tab-foro"></ion-nav-view>
    <div class="bar bar-ruby-header bar-energized">
    <button class="button ruby-button-clear icon ion-navicon brand-base-text-color" menu-toggle="left">
      <span class="new-notification-bubble"></span>
    </button>
    <h1 class="title brand-base-text-color">Foro</h1>
    <button class="button ruby-button-clear icon ion-android-notifications brand-base-text-color" menu-toggle="right"></button>
  </div>

  </ion-tab>

  <ion-tab title="Comunidad" icon-on="icon ion-android-contacts" icon-off="icon ion-android-contacts" href="/tab/comunidad">
          <ion-nav-view name="tab-comunidad"></ion-nav-view>
    <div class="bar bar-ruby-header bar-energized">
    <button class="button ruby-button-clear icon ion-navicon brand-base-text-color" menu-toggle="left">
      <span class="new-notification-bubble"></span>
    </button>
    <h1 class="title brand-base-text-color">Comunidad</h1>
    <button class="button ruby-button-clear icon ion-android-notifications brand-base-text-color" menu-toggle="right"></button>
  </div>

  </ion-tab>

</ion-tabs>


    <ion-tabs class="tabs-background-dark  tabs-color-energized tabs-icon-top">



  <ion-tab title="Inicio" icon-on="icon ion-home" icon-off="icon ion-home"  href="/app/inicio">
   <ion-nav-view name="tab-inicio"></ion-nav-view>
   

  </ion-tab>

  <ion-tab title="Galeria" icon-on="icon ion-images" icon-off="icon ion-images"  href="/app/galeria">
  <ion-nav-view name="tab-galeria"></ion-nav-view>
  

  </ion-tab>

   </ion-tab>
  <ion-tab title="Foro" icon-on="icon ion-chatboxes" icon-off="icon ion-chatboxes"  href="/app/foro">
  <ion-nav-view name="tab-foro"></ion-nav-view>
    

  </ion-tab>

  <ion-tab title="Comunidad" icon-on="icon ion-android-contacts" icon-off="icon ion-android-contacts" href="/app/comunidad">
          <ion-nav-view name="tab-comunidad"></ion-nav-view>
    

  </ion-tab>

</ion-tabs>
  